body
{ 
  /*margin: 10px 10% 10px 10%;*/
  font-family: verdana;
  background-color: #003366; /*(darker soft blue?)*/
  color:  #cccc99; /*light gold*/
  
}

main
{
	
	
	
	
}


footer
{
  text-align: center;
  clear: both;
  
}

#div1, #div2, #div3, #div4, #div5, #div6 {
  float: left;
  width: 300px;
  height: 150px;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

button{
	width: 300px;
	text-align: left;
	color: #000033; /*very dary blue*/
	background-color: #D4E6F1; /*light blue*/
	border-radius: 6px;
	
}